<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Excluir'; else elseTemplate">
    <input placeholder="{{action}} Nome" matInput [(ngModel)]="localData.name">
    <input placeholder="{{action}} Email" matInput [(ngModel)]="localData.email">
  </mat-form-field>
  <ng-template #elseTemplate>
    Certeza da exclusão de <b>{{localData.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>
