<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <form [formGroup]="professional" class="container" *ngIf="action != 'Excluir'; else elseTemplate">
        <mat-form-field >
            <input matInput formControlName="name" required placeholder="Nome">
            <mat-error *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">{{getMsgRequired()}}</mat-error>
        </mat-form-field>

        <mat-form-field >
            <input matInput formControlName="email" required placeholder="E-mail" type="email">
            <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">{{getMsgRequired()}}</mat-error>
        </mat-form-field>

        <mat-form-field >
            <input matInput formControlName="phone" required placeholder="Telefone" [textMask]="{mask: phoneMask}" >
            <mat-error *ngIf="(phone.dirty || phone.touched) && phone.invalid && phone.errors.required">{{getMsgRequired()}}</mat-error>
        </mat-form-field>

        <mat-form-field >
            <input matInput formControlName="rating" placeholder="Avaliação" type="number">
        </mat-form-field>

        <mat-form-field >
            <mat-select [compareWith]="compareWithFn" placeholder="Serviços" formControlName="services" multiple>
                <mat-option *ngFor="let item of services" [value]="item">{{item.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <ng-template #elseTemplate>
        Certeza da exclusão de <b>{{ professional.value.name }}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()" [disabled]="(action == 'Adicionar' || action == 'Atualizar') && !professional.valid">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>
